{% extends 'base.html' %}

{% block content %}

<!--{% load static %}-->
<!--<img src="{% static 'pf-splash.jpg' %}">-->
<div class="row">
    <div class="col-lg-7 my-auto">
        <h1> Welcome to Pressfeed! </h1>
        <br/>
        <h4>Looking for a platform to discuss real news sources? </h4>
        <h3>Pressfeed is for you!</h3>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
         {% load static %} <img class="img-fluid" id="home-news-phone" src='{% static 'img/news.png' %}'>
    </div>
</div>


{% endblock %}