{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="row" id="top-card">
    <div class="col-lg-7 my-auto ms-2">
        <h1> Welcome to Pressfeed! </h1>
        <br/>
        <h4>Looking for a platform to keep you up to date on authentic news sources? </h4>
        <h3>Pressfeed is for you!</h3>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
        <img class="img-fluid" id="home-news-phone" src='{% static 'img/news.png' %}'>
    </div>
</div>
<br/>
<div class="row" id="middle-card">
    <div class="col-lg-4 d-flex justify-content-center order-2 order-md-1 text-center">
         <img class="img-fluid" id="home-news-phone" src='{% static 'img/web-chat.png' %}'>
    </div>
    <div class="col-lg-7 my-auto me-2 order-1 order-md-2">
        <h1> Direct Messaging </h1>
        <br/>
        <h4>Start sharing articles and chatting with other Pressfeed users. </h4>
    </div>
</div>

<p style="text-align: center"> Images courtesy of <a target="_blank" href="https://www.flaticon.com/free-stickers/news">Flaticon.com</a>
</p>
{% endblock %}