{% extends 'base.html' %}

{% block content %}
<h1>Your Pressfeed</h1>

<div class="container">
    <div class="row">
        {% for Article in articles %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ Article.thumbnail_url }}" style="height: 150px; object-fit: cover;" onerror="this.style.display='none'">
                <div class="card-body" style="height: 170px">
                    <h5 class="card-title">{{ Article.title }}</h5>
                    <!--                <p class="card-text">{{ article.content }}</p>-->
                    <a href="{{ Article.url }}" target="_blank" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}