{% extends 'base.html' %}

{% block content %}
<!-- PostgreSQL -->

<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-sm">
            <div class="card" style="width: 18rem; height: 380px;">
                {% load static %}
                <img class="card-img-top" src="{{ article.thumbnail_url }}" style="height: 150px; object-fit: cover;" onerror="this.onerror=null; this.src='{% static 'img/err-splash.jpg' %}'">
                <div class="card-body d-flex flex-column" style="height: 100%;">
                    <h5 class="card-title">{{ article.title|truncatewords:10 }}</h5>
<!--                    {% if article.published_at.date == now.date %}-->
<!--                    {% endif %}-->
                    <p> {{ article.published_at }} </p>
                    <div class="mt-auto">
                        <a href="{{ article.url }}" target="_blank" class="btn">Read more</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Direct request to NewsAPI -->
<!--<h1>Your Pressfeed</h1>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        {% for i in api.articles %}-->
<!--        <div class="col-sm">-->
<!--            <div class="card" style="width: 18rem;">-->
<!--                <img class="card-img-top" src="{{ i.urlToImage }}" style="height: 150px; object-fit: cover;" onerror="this.style.display='none'">-->
<!--                <div class="card-body" style="height: 170px">-->
<!--                    <h5 class="card-title">{{ i.title }}</h5>-->
<!--                    &lt;!&ndash;                <p class="card-text">{{ i.content }}</p>&ndash;&gt;-->
<!--                    <a href="{{ i.url }}" target="_blank" class="btn btn-primary">Read more</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->

{% endblock %}