{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <h2 style="text-align: center">{{ user.username }}'s account</h2>
</div>
<br/>
<div class="row d-flex justify-content-center">
    <div class="col-lg-3 shadow p-4 mb-5 bg-body rounded">
        <h3>Change username:</h3>
        <br/>
        <form method="post">
            {% csrf_token %}
            <p>Edit username:</p>
            {{ form.username }}

            <br/>
            <button type="submit" class="btn">Save</button>
        </form>
    </div>
    <div class="col-lg-3 shadow p-4 mb-5 bg-body rounded">
        <h3 style="margin-right: 10px">Delete Account?</h3>
        <form id="delete-form" method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="btn" id="delete-account-btn">Delete Account</button>
        </form>
    </div>
</div>
{% endblock %}