{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show col-sm-3" role="alert">
    There was an error registering your account!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="d-flex justify-content-center">
    <div class="col-lg-5 shadow p-4 mb-5 bg-body rounded">
        <h2 id="register-header">Register a Pressfeed account!</h2>
        <br/>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <p>Choose a username:</p>
            {{ form.username }}
            <br/>

            <p>Create a password:</p>
            {{ form.password1 }}
            <br/>

            <p>Confirm your password:</p>
            {{ form.password2 }}
            <br/>

            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</div>

{% endblock %}